body{
    background-color: #ccc;
}

img{
    margin: 10px;
    float: left;
    border-radius: 3px;
    border: 5px solid #fff;
    opacity: 0.9;
}

p{
    height: 200px;
    overflow: auto;
    text-align: justify;
}

div{
    padding-top: 20px;
}

div p{
    color: #fff;
}

img:hover{
    opacity: 1;
}



