body{
    background-color: #eee;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    height:300px;
}

.primero{
    flex-grow: 1;
    flex-basis: 100px;
    color: aqua;
}

.segundo{
    /* flex-grow & flex-basis */
    flex: 2.5 120px;
    color: aquamarine;
    align-self:  flex-start;
    background-color: darkgray;
}

.tercero{
    flex-grow: 1;
    color: rgb(43, 207, 199);
}

.cuarto{
    background-color: rgb(54, 53, 53);
    flex-grow: 1;
    color: rgb(218, 218, 218);
    align-self: flex-end;
}

.quinto{
    flex-grow: 1;
    color: cyan;
}

.sexto{
    flex-grow: 1;
    background-color: rgb(54, 53, 53);
    color: rgb(218, 218, 218);
    align-self: center;
}